body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    color: white;
}

h6 {
    font-style: italic;
}

h2 {
    font-weight: 400;
    font-family: 'Farro', sans-serif;
}

header h2 {
    color: #CADE87;
}

.home-btn {
    font-family: 'Farro', sans-serif;
    font-size: smaller;
}

.navbar {
    font-family: 'Farro', sans-serif;
    background-color: white;
}

.no-underline {
    text-decoration: none !important;
}

footer {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(white, black);
    color: white;
}

.menu {
    font-family: 'Farro', serif;
}

.menu .menu-text {
    font-family: 'Raleway', sans-serif;
}

.card-header {
    background-color: #CADE87;
    color: white;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}