body {
    font-family: 'Raleway', sans-serif;
}

.jumbotron {
    background-image: linear-gradient(BurlyWood, bisque);
    color: white;
}

h6 {
    font-style: italic;
}

h2 {
    font-weight: 400;
    font-family: 'Farro', sans-serif;
}

.home-btn {
    font-family: 'Farro', sans-serif;
    font-size: smaller;
}

.navbar {
    font-family: 'Farro', sans-serif;
    background-color: white;
}

.no-underline {
    text-decoration: none !important;
}

footer {
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(bisque, BurlyWood);
    color: white;
}